:root {
  --color-black: #000000;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-grey: #e5e5e5;
  --color-lightgrey: #f2f2f2;
  --color-white: #ffffff;
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-lightblue: #283645;
  --color-lightblue-10: rgba(40, 54, 69, 0.1);
  --color-lightblue-30: rgba(40, 54, 69, 0.3);
  --color-lightblue-50: rgba(40, 54, 69, 0.5);
  --color-lightblue-60: rgba(40, 54, 69, 0.6);
  --color-darkblue: #1d2631;
  --color-pink: #d22856;
  --color-pink-10: rgba(210, 40, 86, 0.1);
  --color-pink-30: rgba(210, 40, 86, 0.3);
  --color-green: #2aab6d;
  --color-darkgreen: #1c9b5e;
  --skew-gradient: linear-gradient(to right bottom, var(--color-white) 50%, var(--color-lightgrey) 50%);
  --scrollbar-width: 0;
  min-width: 320px;
  font-size: 14px;
  line-height: 29px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--color-lightblue);
}
body {
  margin: 0;
  color: var(--color-lightblue);
}
a {
  color: inherit;
}
img {
  max-width: 100%;
  object-fit: contain;
}
.button {
  box-sizing: border-box;
  padding: 16px 20px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-green);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.picture__image {
  display: block;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page__main {
  flex-grow: 1;
}
.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 21px 20px 25px;
  color: var(--color-white);
  background-color: var(--color-lightblue);
}
.page-header__nav {
  width: calc(100% + 40px);
  margin: 19px -20px -23px;
}
.page-header__toggle {
  display: none;
  width: 50px;
  height: 24px;
  padding: 0;
  color: var(--color-white);
  background-color: transparent;
  border: none;
}
.page-header__toggle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  -webkit-mask-image: url("../img/icons/icon-open-menu.svg");
          mask-image: url("../img/icons/icon-open-menu.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50%;
          mask-position: 50%;
}
.page-header__toggle:hover {
  color: var(--color-pink);
}
.page-header__toggle:active {
  color: var(--color-pink-30);
}
.page__header--js .page-header__toggle {
  display: block;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--color-black);
}
.nav__item {
  border-bottom: 1px solid var(--color-black);
}
.nav__link {
  display: block;
  padding: 15px 23px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid var(--color-white-15);
}
.nav__link:hover {
  color: var(--color-pink);
}
.nav__link:active {
  color: var(--color-pink-30);
  transition-timing-function: ease-in-out;
  transition-duration: 0.2ms;
  transition-property: color, opacity, background-color, border-color, box-shadow;
}
.promo {
  padding: 0 20px 32px;
  color: var(--color-white);
  background-color: var(--color-darkblue);
}
.promo__header {
  margin: 0 -20px 28px;
  background-image: url("../img/pictures/promo-background.jpg");
  background-size: cover;
}
.promo__title {
  margin: 0;
  padding: 11px 20px 29px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.promo__picture {
  display: table;
  margin: 0 auto;
}
.promo__button {
  display: block;
  margin: 0 0 22px;
  padding: 15px 21px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background-color: inherit;
  border: 3px solid #ffffff;
  border-radius: 29px;
}
.promo__button:hover {
  color: var(--color-pink);
  background-color: var(--color-white);
}
.promo__button:active {
  color: var(--color-pink-30);
  background-color: var(--color-white);
}
.promo__store-links {
  margin: 0 0 10px;
}
.promo__description {
  margin: 0;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.store-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}
.store-links__item {
  margin: 0 6px;
}
.store-links__link {
  display: block;
  width: 47px;
  height: 56px;
  padding: 10px 10px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.store-links__link--apple {
  background-image: url("../img/icons/icon-apple.svg");
}
.store-links__link--android {
  background-image: url("../img/icons/icon-android.svg");
  background-position: 50% 16px;
}
.store-links__link--windows {
  background-image: url("../img/icons/icon-windows.svg");
  background-position: 50% 22px;
}
.features {
  padding: 40px 0 0;
}
.features__tagline {
  display: block;
  margin: 0 20px 29px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.features__list {
  margin: 0;
  padding: 0 20px;
  line-height: 24px;
  text-align: center;
  background-color: var(--color-lightgrey);
}
.features__list::before {
  content: "";
  display: block;
  height: 34px;
  margin: 0 -20px 50px;
  background-image: var(--skew-gradient);
}
.features__group {
  margin: 0 0 32px;
}
.features__group::after {
  display: block;
  height: 277px;
  margin-top: 42px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.features__group--1::after {
  background-image: url("../img/pictures/phone-features-1.png");
}
.features__group--2::after {
  background-image: url("../img/pictures/phone-features-2.png");
}
.features__group--3::after {
  background-image: url("../img/pictures/phone-features-3.png");
}
.features__group:last-child::after {
  content: "";
}
.features__title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
}
.features__description {
  margin: 0;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 30px;
  text-align: center;
}
.reviews__info {
  margin: 0;
  padding: 9px 20px 24px;
}
.reviews__author {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
  font-style: normal;
}
.slider {
  padding: 0 0 30px;
}
.slider--alter {
  padding-bottom: 39px;
  background-color: var(--color-lightgrey);
}
.slider--alter::before {
  content: "";
  display: block;
  height: 20px;
  margin: 0 0 82px;
  background-image: var(--skew-gradient);
}
.slider__wrapper {
  overflow: hidden;
}
.slider__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300%;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}
.slider__table {
  width: calc(300% - 120px);
  margin: 0 20px 33px;
  table-layout: fixed;
  transition: transform 0.3s ease-in-out;
}
.slider__togglers {
  margin: 0;
}
.togglers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}
.togglers__item {
  display: flex;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.togglers__item::before {
  content: "";
  width: 6px;
  height: 6px;
  margin: auto;
  background-color: var(--color-lightblue-30);
  border-radius: 50%;
  cursor: pointer;
}
.togglers__item--current::before {
  background-color: var(--color-white);
  box-shadow: 0 0 0 3px var(--color-lightblue);
  cursor: default;
}
.togglers__item:hover::before {
  background-color: var(--color-lightblue-60);
}
.togglers__item:active::before {
  background-color: var(--color-lightblue-10);
}
.togglers__item--current:hover::before,
.togglers__item--current:active::before {
  background-color: var(--color-white);
}
.tariffs__table {
  border-spacing: 0;
  line-height: 30px;
  text-transform: uppercase;
}
.tariffs__invisibility {
  display: none;
}
.tariffs__name {
  width: calc(100vw - var(--scrollbar-width) - 40px);
  padding: 12px 60px 29px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-lightblue);
}
.tariffs__name--current {
  position: relative;
}
.tariffs__name--current::before,
.tariffs__name--current::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--color-lightgrey);
}
.tariffs__name--current::before {
  left: 0;
}
.tariffs__name--current::after {
  right: 0;
}
.tariffs__name:nth-child(2) {
  border-top-left-radius: 3px;
}
.tariffs__name:last-child {
  border-top-right-radius: 3px;
}
.tariffs__price {
  margin: -3px 0 0;
  font-weight: 300;
  font-size: 18px;
}
.tariffs__detail {
  position: relative;
  box-sizing: border-box;
  width: calc(100vw - var(--scrollbar-width) - 40px);
  padding: 13px 20px 16px;
  background-color: var(--color-white);
  border-right: 2px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
  border-left: 2px solid var(--color-grey);
}
.tariffs__detail--current {
  border-right: 2px solid var(--color-grey);
  border-left: 2px solid var(--color-grey);
}
.tariffs__detail:first-child {
  display: none;
}
.tariffs__detail:nth-child(2) {
  border-left: 2px solid var(--color-grey);
}
.tariffs__detail:last-child {
  border-right: 2px solid var(--color-grey);
}
.tariffs__detail::before {
  content: attr(data-title);
}
.tariffs__value {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 31px;
  height: 27px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.tariffs__value--yes {
  background-image: url("../img/icons/icon-yes.svg");
}
.tariffs__value--no {
  background-image: url("../img/icons/icon-no.svg");
}
.labelled {
  position: relative;
  overflow: hidden;
}
.labelled__hit {
  position: absolute;
  top: 18px;
  left: -42px;
  width: 100px;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-pink);
  transform: rotate(-45deg);
}
.contacts {
  padding: 41px 20px 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.contacts__text {
  margin: 0;
}
.contacts__item {
  margin: 18px 0 0;
}
.contacts__item:last-of-type {
  margin-top: 21px;
}
.contacts__list {
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
}
.contacts__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.contacts__link {
  line-height: 32.68px;
  color: var(--color-pink);
  text-decoration: none;
}
.contacts__link:hover {
  color: var(--color-lightblue);
  text-decoration: underline;
}
.contacts__link:active {
  color: var(--color-lightblue-30);
  text-decoration: none;
}
.contacts__map {
  position: relative;
  height: 62.5vw;
  margin: 35px -20px 0;
  background-color: var(--color-grey);
  background-image: url("../img/pictures/map.png");
  background-size: cover;
}
.contacts__map::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  left: 0;
  height: 12vw;
  background-image: url("../img/icons/icon-triangle-map.svg");
  background-size: 100% 12vw;
}
.content__header {
  padding: 94px 30px 44px 30px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-lightblue);
  background-image: url("../img/pictures/promo-background.jpg");
  background-size: cover;
}
.content__header--catalog {
  padding: 94px 30px 77px 30px;
}
.content__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
.content__description {
  margin: 0;
  padding: 43px 20px 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.content__description--form {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.content__description--catalog {
  padding: 43px 20px 51px;
}
.content__description:last-child {
  padding-bottom: 42px;
}
.content__button {
  width: 100%;
  margin-bottom: 33px;
  background-color: var(--color-green);
}
.content__button:hover {
  background-color: var(--color-darkgreen);
}
.content__button:active {
  color: var(--color-white-30);
}
.content__sign {
  color: var(--color-pink);
}
.form__data {
  margin: 0;
  padding: 20px 20px 42px;
  border: none;
}
.form__label {
  display: block;
  margin: 0 23px 6px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--color-pink);
  text-transform: uppercase;
}
.form__set {
  margin: 0;
  padding: 38px 20px 45px;
  background-color: var(--color-lightgrey);
  border: none;
}
.form__title {
  float: left;
  width: 100%;
  margin: 0 0 40px;
  padding: 0;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--color-pink);
  text-transform: uppercase;
}
.form__title-model {
  margin: 0 0 37px;
}
.form__contacs {
  padding: 31px 21px 42px;
}
.form__label--emotions {
  margin: 10px 12px 11px 48px;
}
.form__footer {
  padding: 1px 20px 36px;
}
.data__item {
  margin: 0;
  border: none;
}
.data__item:not(:first-of-type) {
  margin-top: 16px;
}
.data__input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 14px 20px 16px;
  font-size: 18px;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  border: 2px solid var(--color-grey);
  outline: none;
}
.data__input::placeholder {
  color: inherit;
  opacity: 1;
}
.data__input:hover,
.data__input:focus-visible {
  border-color: var(--color-lightblue);
}
.data__input:active {
  border-color: var(--color-pink);
}
.data__input--message {
  min-height: 201px;
}
.checkers__list {
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.checkers__input {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 24px 0 0;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
}
.checkers__input--radio {
  margin-right: 35px;
}
.checkers__input::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -4px;
  bottom: -3px;
  left: 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-grey);
  border-radius: 3px;
  transition: border-color 0.3s ease-in-out;
}
:hover::before,
:focus-visible::before {
  border-color: var(--color-lightblue);
}
:active::before {
  border-color: var(--color-pink);
}
.checkers__input::after {
  content: "";
  position: absolute;
  background-color: var(--color-pink);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.checkers__input:checked::after {
  opacity: 1;
}
.checkers__input--checkbox::after {
  top: 10px;
  left: 9px;
  width: 22px;
  height: 16px;
  -webkit-mask-image: url("../img/icons/icon-check-mark.svg");
          mask-image: url("../img/icons/icon-check-mark.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.checkers__input--radio::after {
  top: 11px;
  left: 13px;
  width: 22px;
  height: 18px;
  -webkit-mask-image: url("../img/icons/icon-check-mark-ellipse.svg");
          mask-image: url("../img/icons/icon-check-mark-ellipse.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.checkers__input--radio::before {
  top: -2px;
  right: -6px;
  bottom: -4px;
  left: 0;
  border-radius: 50%;
}
.checkers__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.checkers__item {
  display: flex;
  align-items: center;
  margin-top: 47px;
}
.checkers__item:first-child {
  margin-top: 0;
}
.form__set-model .checkers__item + .checkers__item {
  margin-top: 40px;
}
.photo {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  line-height: 24px;
}
.photo__user {
  display: block;
}
.photo__user--best {
  margin: 0 -20px;
}
.photo__item {
  margin-bottom: 20px;
  background-color: var(--color-lightgrey);
}
.photo__item:last-of-type {
  margin-bottom: 0;
}
.photo__item--best {
  position: relative;
  font-weight: 400;
  line-height: 24px;
}
.photo__best-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px 7px 19px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-pink);
}
.photo__info {
  margin: 0;
  padding: 17px 10px 11px 17px;
}
.photo__description {
  margin: 0;
}
.photo__author {
  font-weight: 700;
  font-style: normal;
}
.photo__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
.photo__likes-form {
  display: flex;
  padding: 0 17px 19px;
  color: var(--color-pink);
}
.photo__likes {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.photo__likes-submit {
  margin-right: 19px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.photo__likes-submit::before {
  content: "";
  display: block;
  width: 13px;
  height: 12px;
  background-color: var(--color-pink);
  -webkit-mask-image: url("../img/icons/icon-heart.svg");
          mask-image: url("../img/icons/icon-heart.svg");
}
.photo__likes-submit:hover::before {
  background-color: var(--color-pink-30);
}
.photo__likes-submit:active::before {
  background-color: var(--color-pink-10);
}
.post-photo {
  padding: 20px 20px 29px;
  background-color: var(--color-lightgrey);
}
.post-photo__file {
  margin: 0;
}
.post-photo__chooser {
  display: block;
  max-width: 300px;
  height: 374px;
  background-image: url("../img/photo-people/photo-snowroad.jpg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.post-photo__filters {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  padding: 10px 20px 60px;
}
.post-photo__filter {
  margin: 32px 24px 0 11px;
}
.post-photo__filter--current .post-photo__toggler::before {
  background-color: var(--color-pink);
}
.post-photo__filter--current .post-photo__range {
  display: block;
}
.post-photo__toggler {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.post-photo__toggler::before {
  content: "";
  display: block;
  background-color: var(--color-lightblue-30);
}
.post-photo__toggler--crop::before {
  -webkit-mask-image: url("../img/icons/icon-crop.svg");
          mask-image: url("../img/icons/icon-crop.svg");
  width: 44px;
  height: 44px;
}
.post-photo__toggler--fill::before {
  -webkit-mask-image: url("../img/icons/icon-fill.svg");
          mask-image: url("../img/icons/icon-fill.svg");
  width: 48px;
  height: 43px;
}
.post-photo__toggler--contrast::before {
  -webkit-mask-image: url("../img/icons/icon-contrast.svg");
          mask-image: url("../img/icons/icon-contrast.svg");
  width: 32px;
  height: 32px;
}
.post-photo__toggler:hover::before {
  background-color: var(--color-lightblue-50);
}
.post-photo__toggler:active::before {
  background-color: var(--color-pink);
}
.post-photo__range {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  width: calc(100% - 40px);
  margin: 0;
}
.post-photo__button {
  width: 100%;
  margin: 0 0 12px;
  padding: 15px 40px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  font-family: inherit;
  text-align: center;
  color: var(--color-pink);
  text-transform: none;
  background-color: transparent;
  border: 3px solid var(--color-pink);
  border-radius: 30px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color;
}
.post-photo__button:hover {
  color: var(--color-white);
  background-color: var(--color-pink);
}
.post-photo__button:active {
  color: var(--color-white-30);
  background-color: var(--color-pink);
}
.post-photo__button--reset {
  color: var(--color-lightblue-10);
  border-color: var(--color-lightblue-10);
}
.post-photo__button--reset:hover {
  color: var(--color-lightblue-30);
  background-color: transparent;
  border-color: var(--color-lightblue-30);
}
.post-photo__button--reset:active {
  color: var(--color-white-30);
  background-color: var(--color-lightblue-30);
  border-color: transparent;
}
.range {
  height: 18px;
  background-color: transparent;
  -webkit-appearance: none;
          appearance: none;
}
.range::-webkit-slider-runnable-track {
  height: 2px;
  background-color: var(--color-darkblue);
}
.range::-moz-range-track {
  height: 2px;
  background-color: var(--color-darkblue);
}
.range::-webkit-slider-thumb {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: var(--color-lightgrey);
  border: 2px solid var(--color-pink);
  border-radius: 50%;
  transform: translateY(-5px);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  -webkit-appearance: none;
          appearance: none;
}
.range::-webkit-slider-thumb:active {
  background-color: var(--color-pink);
}
.range::-moz-range-thumb {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: var(--color-lightgrey);
  border: 2px solid var(--color-pink);
  border-radius: 50%;
  transform: translateY(1px);
  cursor: pointer;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  appearance: none;
}
.range::-moz-range-thumb:active {
  background-color: var(--color-pink);
}
.page-footer {
  padding: 40px 20px;
  text-align: center;
}
.page-footer__logo {
  display: table;
  width: 145px;
  min-height: 40px;
  margin: 0 68px 38px;
  background-image: url("../img/logo/logo-glasses.svg");
}
.page-footer__socials {
  margin: -9px 0 38px -9px;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}
.socials__item {
  margin: 9px 0 0 9px;
}
.socials__link {
  display: flex;
  width: 48px;
  height: 48px;
  border: 3px solid var(--color-lightblue-10);
  border-radius: 50%;
  outline: none;
}
.socials__link::before {
  content: "";
  width: 18px;
  height: 18px;
  margin: auto;
  background-color: var(--color-pink);
  transition: inherit;
}
.socials__link:hover,
.socials__link:focus-visible {
  border-color: var(--color-lightblue);
}
.socials__link:active {
  border-color: var(--color-lightblue-10);
}
.socials__link:active::before {
  background-color: var(--color-pink-30);
}
.socials__link--vkontakte::before {
  -webkit-mask-image: url("../img/icons/social-vk.svg");
          mask-image: url("../img/icons/social-vk.svg");
}
.socials__link--telegram::before {
  -webkit-mask-image: url("../img/icons/social-telegram.svg");
          mask-image: url("../img/icons/social-telegram.svg");
}
.socials__link--youtube::before {
  -webkit-mask-image: url("../img/icons/social-youtube.svg");
          mask-image: url("../img/icons/social-youtube.svg");
}
.logo-academy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  text-decoration: none;
}
.logo-academy__image {
  margin-left: 15px;
}
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.modal-container--success {
  display: none;
}
.modal-container--error {
  display: none;
}
.modal-container__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal {
  position: relative;
  max-width: 460px;
  margin: auto;
  padding: 41px 0 0;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.modal__title {
  margin: 0 20px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.modal__descriprion {
  margin: 0 20px;
  font-weight: 400;
  line-height: 24px;
}
.modal__footer {
  margin-top: 42px;
  padding: 0 20px 50px;
}
.modal__footer--success {
  margin-top: 35px;
  padding-top: 50px;
  background-color: var(--color-lightgrey);
}
.modal__button {
  width: 100%;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2");
}
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), url("../fonts/opensansbold.woff2") format("woff2");
}
