.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--color-black);

  @media @desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: none;
  }
}

.nav__item {
  border-bottom: 1px solid var(--color-black);

  @media @desktop {
    border: none;
  }
}

.nav__link {
  display: block;
  padding: 15px 23px 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid var(--color-white-15);

  @media @desktop {
    margin-left: 80px;
    padding: 6px 0 11px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--color-white);
    text-transform: none;
    border: none;
    border-bottom: 2px solid transparent;
  }

  &:hover {
    color: var(--color-pink);
  }

  &:active {
    color: var(--color-pink-30);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2ms;
    transition-property: color, opacity, background-color, border-color, box-shadow;
  }

  &--current {
    @media @desktop {
      border-color: currentColor;
    }
  }
}
