.page-header {
  box-sizing: border-box;
  min-width: 320px;
}

.page-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 21px 20px 12px;

  @media @tablet-desktop {
    padding-top: 27px;
    padding-bottom: 34px;
  }

  @media @desktop {
    padding-top: 21px;

    .centerer();
  }
}


.page-header__top {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

.page-header__nav {
  width: calc(100% + 40px);
  margin: 19px -20px -23px;

  @media @desktop {
    width: 760px;
  }
}

.page-header__toggle--open {
  display: none;
  width: 50px;
  height: 24px;
  padding: 0;
  color: var(--color-white);
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    mask-image: url("../img/icons/icon-open-menu.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
  }

  &:hover {
    color: var(--color-pink);
  }

  &:active {
    color: var(--color-pink-30);
  }
}

.page-header__toggle--closed {
  display: none;
  width: 50px;
  height: 24px;
  padding: 0;
  color: var(--color-white);
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    mask-image: url("../img/icons/icon-close-menu.svg");
    mask-repeat: no-repeat;
    mask-position: 50%;
  }

  &:hover {
    color: var(--color-pink);
  }

  &:active {
    color: var(--color-pink-30);
  }
}

.page__header--js {
  .page-header__nav {
    display: none;
    color: var(--color-white);

    @media @desktop {
      display: block;
      margin: 0;
    }
  }

  .page-header__toggle {
    @media @mobile-tablet {
      display: flex;
    }
  }

  .page-header__top {
    background-color: var(--color-black-30);
  }
}
