.promo {
  padding: 0 20px 32px;
  color: var(--color-white);
  background-color: var(--color-darkblue);
}

.promo__header {
  margin: 0 -20px 28px;
  background-image: url("../img/pictures/promo-background.jpg");
  background-size: cover;
}

.promo__title {
  margin: 0;
  padding: 11px 20px 29px;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.promo__picture {
  display: table;
  margin: 0 auto;
}

.promo__button {
  display: block;
  margin: 0 0 22px;
  padding: 15px 21px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background-color: inherit;
  border: 3px solid #ffffff;
  border-radius: 29px;

  &:hover {
    color: var(--color-pink);
    background-color: var(--color-white);
  }

  &:active {
    color: var(--color-pink-30);
    background-color: var(--color-white);
  }
}

.promo__store-links {
  margin: 0 0 10px;
}

.promo__description {
  margin: 0;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
