.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 30px;
  text-align: center;
}

.reviews__info {
  margin: 0;
  padding: 9px 20px 24px;

  @media @tablet-desktop {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  @media @desktop {
    padding: 184px 100px 0;
    background-image: url("../img/icons/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 72px;
  }
}

.reviews__author {
  display: block;
  margin-bottom: 12px;
  font-style: normal;

  @media @tablet-desktop {
    margin: 35px 0 29px;
  }

  @media @desktop {
    margin-bottom: 0;
  }
}

.reviews__author-name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);

  @media @tablet {
    font-size: 20px;
  }

  @media @desktop {
    margin-bottom: 3px;
    font-size: 24px;
  }
}

.reviews__author-note {
  @media @mobile {
    .sr-only();
  }

  @media @desktop {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__text {
  @media @tablet-desktop {
    order: -1;
    font-size: 18px;
  }
}
