.slider {
  padding: 0 0 30px;

  @media @tablet {
    padding-bottom: 7px;
  }

  @media @desktop {
    position: relative;
  }

  &--alter {
    padding-bottom: 39px;
    background-color: var(--color-lightgrey);

    @media @tablet-desktop {
      padding-bottom: 9px;
    }

    @media @desktop {
      padding-bottom: 63px;
    }

    &::before {
      content: "";
      display: block;
      height: 20px;
      margin: 0 0 82px;
      background-image: var(--skew-gradient);

      @media @tablet-desktop {
        height: 40px;
        margin-bottom: 58px;
      }

      @media @desktop {
        height: 100px;
      }
    }
  }
}

.slider__wrapper {
  overflow: hidden;

  &--alter {
    @media @tablet {
      padding-bottom: 26px;
    }

    @media @desktop {
      width: 980px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.slider__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300%;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.slider__table {
  width: calc(300% - 120px);
  margin: 0 20px 33px;
  transition: transform 0.3s ease-in-out;


  @media @mobile {
    table-layout: fixed;
    transform: var(--transform);
  }

  @media @tablet-desktop {
    width: calc(100% - 42px);
    margin-right: 22px;
    margin-left: 22px;
    transform: none;
  }

  @media @desktop {
    width: calc(100% - 36px);
    margin-right: 22px;
    margin-left: 18px;
    transform: none;
  }
}

.slider__togglers {
  margin: 0;

  @media @desktop {
    display: none;
  }

  &--table {
    @media @tablet {
      display: none;
    }
  }
}

.slider .slider__togglers {
  @media @desktop {
    display: none;
  }
}

.slider__ring {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 1;
  width: 21px;
  height: 40px;
  margin: 52px 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-30);
    transition: background-color 0.3s ease-in-out;
    mask-image: url("../img/sprite.svg#icon-arrow");
    mask-size: cover;
  }

  &:hover::before {
    background-color: var(--color-lightblue-60);
  }

  &:active::before {
    background-color: var(--color-lightblue-10);
  }

  &--next {
    right: 0;
    left: auto;
  }

  &--prev {
    &::before {
      transform: scaleX(-1);
    }
  }

  @media @mobile-tablet {
    display: none;
  }
}
