.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 10px 39px 0;
  padding: 0;
  list-style: none;

  @media @tablet {
    margin: -9px 29px 1px 0;
  }

  @media @desktop {
    margin: -8px 7px 0 0;
  }
}

.socials__item {
  margin: 9px 0 0 9px;

  @media @desktop {
    margin: 9px -3px 0 13px;
  }
}

.socials__link {
  display: flex;
  width: 48px;
  height: 48px;
  border: 3px solid var(--color-lightblue-10);
  border-radius: 50%;
  outline: none;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    margin: auto;
    background-color: var(--color-pink);
    transition: inherit;
    mask-position: -1px 0;
    mask-size: 21px;
  }


  &:hover,
  &:focus-visible {
    border-color: var(--color-lightblue);
  }

  &:active {
    border-color: var(--color-lightblue-10);

    &::before {
      background-color: var(--color-pink-30);
    }
  }

  &--vkontakte::before {
    mask-image: url("../img/sprite.svg#icon-social-vk");
  }

  &--telegram::before {
    mask-image: url("../img/sprite.svg#icon-social-telegram");
  }

  &--youtube::before {
    mask-image: url("../img/sprite.svg#icon-social-youtube");
  }
}
