.tariffs__table {
  border-spacing: 0;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs__invisibility {
  @media @mobile {
    display: none;
  }
}

.tariffs__name {
  width: calc(100vw - var(--scrollbar-width) - 40px);
  padding: 12px 60px 29px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-lightblue);

  @media @tablet-desktop {
    width: 25%;
    padding: 12px 36px 10px;
  }

  @media @desktop {
    padding: 16px 36px 22px;
    font-size: 18px;
  }

  &--current {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 2px;
      background-color: var(--color-lightgrey);
    }

    &::before {
      left: 0;

      @media @tablet-desktop {
        z-index: 1;
      }
    }

    &::after {
      right: 0;
    }
  }

  &:nth-child(2) {
    border-top-left-radius: 3px;
  }

  &:last-child {
    border-top-right-radius: 3px;
  }
}

.tariffs__price {
  margin: -3px 0 0;
  font-weight: 300;
  font-size: 18px;

  @media @desktop {
    margin-top: 0;
    font-size: 24px;
  }
}

.tariffs__detail {
  position: relative;
  box-sizing: border-box;
  width: calc(100vw - var(--scrollbar-width) - 40px);
  padding: 13px 20px 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  background-color: var(--color-white);
  border-right: 2px solid var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
  border-left: 2px solid var(--color-grey);

  @media @mobile {
    padding-right: 64px;
  }

  @media @tablet-desktop {
    width: 25%;
    padding: 7px 15px 8px;
    text-transform: none;
  }

  @media @desktop {
    padding: 14px 20px 15px;
    font-size: 18px;
  }

  &--current {
    border-right: 2px solid var(--color-grey);
    border-left: 2px solid var(--color-grey);
  }

  &:first-child {
    border-left: 2px solid var(--color-grey);

    @media @mobile {
      display: none;
    }
  }

  &:nth-child(2) {
    border-left: 2px solid var(--color-grey);
  }

  &:last-child {
    border-right: 2px solid var(--color-grey);
  }

  &::before {
    @media @mobile {
      content: attr(data-title);
      text-transform: uppercase;
    }
  }
}

.tariffs__description {
  &:first-child .tariffs__detail {
    &:first-child {
      position: relative;
    }

    &:first-child::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 100%;
      left: -2px;
      height: 2px;
      background-color: var(--color-grey);
      border-top-left-radius: 6px;
    }
  }

  &:last-child .tariffs__detail {
    &:first-child {
      border-bottom-left-radius: 3px;
    }

    &:nth-child(2) {
      @media @mobile {
        border-bottom-left-radius: 3px;
      }
    }

    &:last-child {
      border-bottom-right-radius: 3px;
    }
  }
}

.tariffs__value {
  width: 31px;
  height: 27px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--yes {
    background-image: url("../img/icons/icon-yes.svg");
  }

  &--no {
    background-image: url("../img/icons/icon-no.svg");
  }

  @media @mobile {
    position: absolute;
    top: 16px;
    right: 17px;
  }
}
