{% extends "_layout.njk" %}

{% set title = 'Каталог' %}

{% block main %}
<section class="content">
  <header class="content__header content__header--catalog">
    <h1 class="content__title">
      Фотографии<br>пользователей
    </h1>
  </header>
  <p class="content__description content__catalog">
    Взгляните на фотографии, которые выкладывают пользователи! Видите,&nbsp;как&nbsp;не&nbsp;хватает ваших?
  </p>
  <ul class="photo content__slot">
    <li class="photo__item photo__item--best">
      <span class="photo__best-label">
        Панорама дня
      </span>
      <picture class="photo__user photo__user--best picture picture--fullwidth">
        <source media="(min-width: 980px)" srcset="img/photo-people/photo-panorama-desktop.jpg 1x, img/photo-people/photo-panorama-desktop@2x.jpg 2x">
        <source media="(min-width: 660px)" srcset="img/photo-people/photo-panorama-tablet.jpg 1x, img/photo-people/photo-panorama-tablet@2x.jpg 2x">
        <img class="picture__image picture__image--panorama" src="img/photo-people/photo-panorama.jpg" srcset="img/photo-people/photo-panorama@2x.jpg 2x" alt="Панорама.">
      </picture>
      <blockquote class="photo__info">
        <cite class="photo__author">
          Анна
          <time class="photo__time" datetime="2020-10-10T00:00:00">
            (5 минут назад)
          </time>
        </cite>
        <p class="photo__description">
          Прыгать или нет? Напишите в комментарии свой совет и смотрите&nbsp;прямую трансляцию в перископе, задавайте свои вопросы!
        </p>
        <form class="photo__likes-form" action="https://echo.htmlacademy.ru/" method="post">
          <input type="hidden" name="photo" value="panorama">
          <button class="photo__likes-submit" type="submit" name="user" value="1">
            <span class="visually-hidden">
              Понравилось.
            <span>
          </button>
          <p class="photo__likes">
            Нравится: 215
          </p>
        </form>
      </blockquote>
    </li>
    <li class="photo__item">
      <picture class="photo__user picture picture--fullwidth">
        <source media="(min-width: 980px)" srcset="img/photo-people/photo-car-desktop.jpg 1x, img/photo-people/photo-car-desktop@2x.jpg 2x">
        <source media="(min-width: 660px)" srcset="img/photo-people/photo-car-tablet.jpg 1x, img/photo-people/photo-car-tablet@2x.jpg 2x">
        <img class="picture__image" src="img/photo-people/photo-car.jpg" srcset="img/photo-people/photo-car@2x.jpg 2x" alt="Автомобиль.">
      </picture>
      <blockquote class="photo__info">
        <cite class="photo__author">
          Левон
          <time class="photo__time" datetime="2022-04-08T00:00:00">
            (5 часов назад)
          </time>
        </cite>
        <p class="photo__description">
          Вчера он на луну летал, сегодня в руки к нам попал.
        </p>
        <form class="photo__likes-form" action="https://echo.htmlacademy.ru/" method="post">
          <input type="hidden" name="photo" value="car">
          <button class="photo__likes-submit" type="submit" name="user" value="1">
            <span class="visually-hidden">
              Понравилось.
            <span>
          </button>
          <p class="photo__likes">
            Нравится: 356
          </p>
        </form>
      </blockquote>
    </li>
    <li class="photo__item">
      <picture class="photo__user picture picture--fullwidth">
        <source media="(min-width: 980px)" srcset="img/photo-people/photo-drums-desktop.jpg 1x, img/photo-people/photo-drums-desktop@2x.jpg 2x">
        <source media="(min-width: 660px)" srcset="img/photo-people/photo-drums-tablet.jpg 1x, img/photo-people/photo-drums-tablet@2x.jpg 2x">
        <img class="picture__image" src="img/photo-people/photo-drums.jpg" srcset="img/photo-people/photo-drums@2x.jpg 2x" alt="Барабаны.">
      </picture>
      <blockquote class="photo__info">
        <cite class="photo__author">
          Антон
          <time class="photo__time" datetime="2022-04-08T00:00:00">
            (12 часов назад)
          </time>
        </cite>
        <p class="photo__description">
          Соседи будут рады!
        </p>
        <form class="photo__likes-form" action="https://echo.htmlacademy.ru/" method="post">
          <input type="hidden" name="photo" value="drums">
          <button class="photo__likes-submit" type="submit" name="user" value="1">
            <span class="visually-hidden">
              Понравилось.
            <span>
          </button>
          <p class="photo__likes">
            Нравится: 666
          </p>
        </form>
      </blockquote>
    </li>
    <li class="photo__item">
      <picture class="photo__user picture picture--fullwidth">
        <source media="(min-width: 980px)" srcset="img/photo-people/photo-window-desktop.jpg 1x, img/photo-people/photo-window-desktop@2x.jpg 2x">
        <source media="(min-width: 660px)" srcset="img/photo-people/photo-window-tablet.jpg 1x, img/photo-people/photo-window-tablet@2x.jpg 2x">
        <img class="picture__image" src="img/photo-people/photo-window.jpg" srcset="img/photo-people/photo-window@2x.jpg 2x" alt="Зеркальным дом.">
      </picture>
      <blockquote class="photo__info">
          <cite class="photo__author">
            Борис
            <time class="photo__time" datetime="2022-04-08T00:00:00">
              (20 часов назад)
            </time>
          </cite>
          <p class="photo__description">
            Здесь могла быть ваша цитата о высоком и вечном.
          </p>
          <form class="photo__likes-form" action="https://echo.htmlacademy.ru/" method="post">
            <input type="hidden" name="photo" value="window">
            <button class="photo__likes-submit" type="submit" name="user" value="1">
              <span class="visually-hidden">
                Понравилось.
              <span>
            </button>
            <p class="photo__likes">
              Нравится: 215
            </p>
          </form>
      </blockquote>
    </li>
    <li class="photo__item">
      <picture class="photo__user picture picture--fullwidth">
        <source media="(min-width: 980px)" srcset="img/photo-people/photo-market-desktop.jpg 1x, img/photo-people/photo-market-desktop@2x.jpg 2x">
        <source media="(min-width: 660px)" srcset="img/photo-people/photo-market-tablet.jpg 1x, img/photo-people/photo-market-tablet@2x.jpg 2x">
        <img class="picture__image" src="img/photo-people/photo-market.jpg" srcset="img/photo-people/photo-market@2x.jpg 2x" alt="Базар.">
      </picture>
      <blockquote class="photo__info">
          <cite class="photo__author">
            Сергей
            <time class="photo__time" datetime="2022-04-08T00:00:00">
              (25 часов назад)
            </time>
          </cite>
          <p class="photo__description">
            Самая кубанская в мире!
          </p>
          <form class="photo__likes-form" action="https://echo.htmlacademy.ru/" method="post">
            <input type="hidden" name="photo" value="market">
            <button class="photo__likes-submit" type="submit" name="user" value="1">
              <span class="visually-hidden">
                Понравилось.
              <span>
            </button>
            <p class="photo__likes">
              Нравится: 4
            </p>
          </form>
      </blockquote>
    </li>
    <li class="photo__item">
      <picture class="photo__user picture picture--fullwidth">
        <source media="(min-width: 980px)" srcset="img/photo-people/photo-legs-desktop.jpg 1x, img/photo-people/photo-legs-desktop@2x.jpg 2x">
        <source media="(min-width: 660px)" srcset="img/photo-people/photo-legs-tablet.jpg 1x, img/photo-people/photo-legs-tablet@2x.jpg 2x">
        <img class="picture__image" src="img/photo-people/photo-legs.jpg" srcset="img/photo-people/photo-legs@2x.jpg 2x" alt="Ноги на скале.">
      </picture>
      <blockquote class="photo__info">
        <cite class="photo__author">
          Максим
          <time class="photo__time" datetime="2022-04-08T00:00:00">
            (40 часов назад)
          </time>
        </cite>
        <p class="photo__description">
          Где снег-то?
        </p>
        <form class="photo__likes-form" action="https://echo.htmlacademy.ru/" method="post">
          <input type="hidden" name="photo" value="legs">
          <button class="photo__likes-submit" type="submit" name="user" value="1">
            <span class="visually-hidden">
              Понравилось.
            <span>
          </button>
          <p class="photo__likes">
            Нравится: 150
          </p>
        </form>
      </blockquote>
    </li>
    <li class="photo__item">
      <picture class="photo__user picture picture--fullwidth">
        <source media="(min-width: 980px)" srcset="img/photo-people/photo-wing-desktop.jpg 1x, img/photo-people/photo-wing-desktop@2x.jpg 2x">
        <source media="(min-width: 660px)" srcset="img/photo-people/photo-wing-tablet.jpg 1x, img/photo-people/photo-wing-tablet@2x.jpg 2x">
        <img class="picture__image" src="img/photo-people/photo-wing.jpg" srcset="img/photo-people/photo-wing@2x.jpg 2x" alt="Крыло самолета.">
      </picture>
      <blockquote class="photo__info">
        <cite class="photo__author">
          Надежда
          <time class="photo__time" datetime="2022-04-08T00:00:00">
            (45 часов назад)
          </time>
        </cite>
        <p class="photo__description">
          Всем GM и взаимные лайки!
        </p>
        <form class="photo__likes-form" action="https://echo.htmlacademy.ru/" method="post">
          <input type="hidden" name="photo" value="wing">
          <button class="photo__likes-submit" type="submit" name="user" value="1">
            <span class="visually-hidden">
              Понравилось.
            <span>
          </button>
          <p class="photo__likes">
            Нравится: 2560
          </p>
        </form>
      </blockquote>
    </li>
  </ul>
  <p class="content__description">
    Затмите их всех! <br> Выкладывайте все, что накопилось в телефоне!
  </p>
</section>
<section class="post-photo page-main__add">
  <h2 class="visually-hidden">
    Добавление фотографий.
  </h2>
  <form class="post-photo__form" action="https://echo.htmlacademy.ru/" method="post">
    <p class="post-photo__file">
      <input class="visually-hidden" id="add" name="image" type="file" accept="image/jpeg,image/png" required>
      <label class="post-photo__chooser" for="add">
        <span class="visually-hidden">
          Добавить файл.
        </span>
      </label>
    </p>
    <div class="post-photo__filters">
      <p class="post-photo__filter post-photo__filter--current">
        <button class="post-photo__toggler post-photo__toggler--crop" type="button">
          <span class="visually-hidden">
            Переключить режим на обрезать.
          </span>
        </button>
        <label class="visually-hidden" for="crop">
          Обрезать фотографию.
        </label>
        <input class="post-photo__range range" id="crop" name="crop" type="range" min="0" max="100" step="1" value="85">
      </p>
      <p class="post-photo__filter">
        <button class="post-photo__toggler post-photo__toggler--fill" type="button">
          <span class="visually-hidden">
            Переключить режим на заливку.
          </span>
        </button>
        <label class="visually-hidden" for="fill">
          Изменить заливку.
        </label>
        <input class="post-photo__range range" id="fill" name="fill" type="range" min="0" max="100" step="1" value="14">
      </p>
      <p class="post-photo__filter">
        <button class="post-photo__toggler post-photo__toggler--contrast" type="button">
          <span class="visually-hidden">
            Переключить режим на изменить контраст.
          </span>
        </button>
        <label class="visually-hidden" for="contrast">
          Изменить контраст.
        </label>
        <input class="post-photo__range range" id="contrast" name="contrast" type="range" min="0" max="100" step="1" value="50">
      </p>
    </div>
    <button class="post-photo__button button" type="submit">
      Запостить
    </button>
    <button class="post-photo__button post-photo__button--reset button" type="reset">
      Отмена
    </button>
  </form>
</section>
{% endblock %}
