{% extends "_layout.njk" %}

{% set title = 'Главная' %}

{% block main %}
  <section class="promo page-main__promo">
    <div class="promo__bottom">
      <h1 class="visually-hidden">
        Pink.
      </h1>
      <div class="promo__header">
        <p class="promo__title">
          Взгляните на&nbsp;жизнь иначе!
        </p>
        <picture class="promo__picture picture">
          <source media="(min-width: 980px)" srcset="img/pictures/promo-desktop.png 1x, img/pictures/promo-desktop@2x.png 2x">
          <source media="(min-width: 660px)" srcset="img/pictures/promo-tablet.png 1x, img/pictures/promo-tablet@2x.png 2x">
          <img class="picture__image" src="img/pictures/promo-mobile.png" srcset="img/pictures/promo-mobile@2x.png 2x" alt="Телефон с запущенным приложением Pink в руке.">
        </picture>
      </div>
      <div class="promo__links">
        <a class="promo__button button" href="#!">
          Скачать приложение
        </a>
        <ul class="store-links promo__store-links">
          <li class="store-links__item">
            <a class="store-links__link store-links__link--apple" href="#!">
              <p class="visually-hidden">
                Apple.
              </p>
            </a>
          </li>
          <li class="store-links__item">
            <a class="store-links__link store-links__link--android" href="#!">
              <p class="visually-hidden">
                Android.
              </p>
            </a>
          </li>
          <li class="store-links__item">
            <a class="store-links__link store-links__link--windows" href="#!">
              <p class="visually-hidden">
                Windows.
              </p>
            </a>
          </li>
        </ul>
        <p class="promo__description">
          Доступно для iPhone, iPad, Android, Windows Phone, OS&nbsp;X, Windows&nbsp;8
        </p>
      </div>
    </div>
  </section>
  <section class="features page-main__features">
    <h2 class="visually-hidden">
      Особенности.
    </h2>
    <p class="features__tagline">
      Устали от серости мегаполиса?
    </p>
    <p class="features__tagline">
      Нам есть, что вам<br>предложить!
    </p>
    <div class="features__body">
      <dl class="features__list">
        <div class="features__group features__group--1" >
          <dt class="features__title">
            Поднимает настроение
          </dt>
          <dd class="features__description">
            Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
          </dd>
        </div>
        <div class="features__group features__group--2">
          <dt class="features__title">
            Меняет мир вокруг
          </dt>
          <dd class="features__description">
            Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить&nbsp;эффект
          </dd>
        </div>
        <div class="features__group features__group--3">
          <dt class="features__title">
            Заводит новых друзей
          </dt>
          <dd class="features__description">
            Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
          </dd>
        </div>
      </dl>
    </div>
  </section>
  <section class="advertising page-main__advertising">
    <div class="advertising__inner advertising__inner--effect">
      <h2 class="advertising__title">
        Эффект на&nbsp;24&nbsp;часа!
      </h2>
      <p class="advertising__description">
        Британские ученые провели исследования и доказали, что&nbsp;положительный эффект от&nbsp;использования приложения длится целые сутки!
      </p>
      <a class="advertising__link" href="#!">
        Узнать больше об исследовании
      </a>
    </div>
  </section>
  <section class="reviews page-main__reviews slider">
    <h2 class="visually-hidden">
      Отзывы.
    </h2>
    <div class="slider__wrapper">
      <ul class="reviews__list slider__list">
          <li class="reviews__item">
            <blockquote class="reviews__info">
                  <cite class="reviews__author">
                    <span class="reviews__author-name">
                      Николай Петров
                    </span>
                    <span class="reviews__author-note">
                      25 лет, водитель трамвая
                    </span>
                  </cite>
              <q class="reviews__text">
                Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!
              </q>
            </blockquote>
          </li>
          <li class="reviews__item">
            <blockquote class="reviews__info">
              <cite class="reviews__author">
                Евгений Сидоров
              </cite>
              <q class="reviews__text">
                Это приложение меняет не только мир но и все окружение! Пользуюсь и не жалею, всем советую!!
              </q>
            </blockquote>
          </li>
          <li class="reviews__item">
            <blockquote class="reviews__info">
              <cite class="reviews__author">
                Андрей Качура
              </cite>
              <q class="reviews__text">
                Друзья посоветовали скачать это приложение! Все нравится. Ставлю 5 звезд!
              </q>
            </blockquote>
          </li>
      </ul>
    </div>
    <ul class="togglers slider__togglers slider__togglers--list">
      <li class="togglers__list">
        <button class="togglers__item togglers__item--current" type="button">
          <span class="visually-hidden">
            Первый отзыв.
          </span>
        </button>
      </li>
      <li class="togglers__list">
      <button class="togglers__item" type="button">
        <span class="visually-hidden">
          Второй отзыв.
        </span>
      </button>
      </li>
      <li class="togglers__list">
      <button class="togglers__item" type="button">
        <span class="visually-hidden">
          Третий отзыв.
        </span>
      </button>
      </li>
    </ul>
    <button class="slider__ring slider__ring--prev" type="button">
      <span class="visually-hidden">
        К предыдущему слайду.
      </span>
    </button>
    <button class="slider__ring slider__ring--next" type="button">
      <span class="visually-hidden">
        К следующему слайду.
      </span>
    </button>
  </section>
  <section class="tariffs page-main__tariffs slider slider--alter">
    <h2 class="visually-hidden">
      Тарифы.
    </h2>
    <div class="slider__wrapper slider__wrapper--alter">
      <table class="tariffs__table slider__table" style="--transform: translateX(-33.3333%)">
        <thead class="tariffs__names">
          <tr class="tariffs__applications">
            <th class="tariffs__invisibility" scope="col">
              <span class="visually-hidden">
                Свойства.
              </span>
            </th>
            <th class="tariffs__name" scope="col">
              База
              <p class="tariffs__price">
                1,99 USD
              </p>
            </th>
            <th class="labelled tariffs__name tariffs__name--current" scope="col">
              Стандарт
              <span class="labelled__hit">
                Хит
              </span>
              <p class="tariffs__price">
                3,99 USD
              </p>
            </th>
            <th class="tariffs__name" scope="col">
              Анлим
              <p class="tariffs__price">
                9,99 USD
              </p>
            </th>
          </tr>
        </thead>
        <tbody class="tariffs__descriprions">
          <tr class="tariffs__description">
            <th class="tariffs__detail tariffs__detail--current" scope="row">
              Розовый фильтр
            </th>
            <td class="tariffs__detail tariffs__detail--current" data-title="Розовый фильтр">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Имеется.
                </span>
              </p>
            </td>
            <td class="tariffs__detail tariffs__detail--current" data-title="Розовый фильтр">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Имеется.
                </span>
              </p>
            </td>
            <td class="tariffs__detail tariffs__detail--current" data-title="Розовый фильтр">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Имеется.
                </span>
              </p>
            </td>
          </tr>
          <tr class="tariffs__description">
            <th class="tariffs__detail" scope="row">
              Смайлики
            </th>
            <td class="tariffs__detail" data-title="Смайлики">
              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Отсутствует.
                </span>
              </p>
            </td>
            <td class="tariffs__detail" data-title="Смайлики">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Имеется.
                </span>
              </p>
            </td>
            <td class="tariffs__detail" data-title="Смайлики">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Имеется.
                </span>
              </p>
            </td>
          </tr>
          <tr class="tariffs__description">
            <th class="tariffs__detail" scope="row">
              Комментарии
            </th>
            <td class="tariffs__detail" data-title="Комментарии">
              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Отсутствует.
                </span>
              </p>
            </td>
            <td class="tariffs__detail" data-title="Комментарии">
              <p class="tariffs__value tariffs__value--no">
                <span class="visually-hidden">
                  Отсутствует.
                </span>
              </p>
            </td>
            <td class="tariffs__detail" data-title="Комментарии">
              <p class="tariffs__value tariffs__value--yes">
                <span class="visually-hidden">
                  Имеется.
                </span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="togglers slider__togglers slider__togglers--table">
      <li class="togglers__list">
        <button class="togglers__item" type="button">
          <span class="visually-hidden">
            Первый тариф.
          </span>
        </button>
      </li>
      <li class="togglers__list">
      <button class="togglers__item togglers__item--current" type="button">
        <span class="visually-hidden">
          Второй тариф.
        </span>
      </button>
      </li>
      <li class="togglers__list">
      <button class="togglers__item" type="button">
        <span class="visually-hidden">
          Третий тариф.
        </span>
      </button>
      </li>
    </ul>
  </section>
  <section class="contacts page-main__contacts">
    <h2 class="visually-hidden">
      Контакты.
    </h2>
    <p class="contacts__text">
      Остались вопросы?
    </p>
    <p class="contacts__text">
      Свяжитесь с нами!
    </p>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__title">
          Звоните:
        </p>
        <a class="contacts__link" href="tel:+78125556666">
          +7 (812) 555-66-66
        </a>
      </li>
      <li class="contacts__item">
        <p class="contacts__title">
          Пишите:
        </p>
        <a class="contacts__link" href="mailto:mail@htmlacademy.ru">
          mail@htmlacademy.ru
        </a>
      </li>
      <li class="contacts__item">
        <p class="contacts__title">
          Приезжайте в гости:
        </p>
        <a class="contacts__link" href="#!">
          <span class="contacts__adress-adress">
            ул. Большая<br>Конюшенная, 19/8
          </span>
        </a>
      </li>
    </ul>
    <h2 class="visually-hidden">Как до нас добраться</h2>
    <div class="contacts__map map"></div>
  </section>
{% endblock %}
