.checkers__list {
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media @tablet {
    margin: 9px 38px;

    &--checkbox {
      margin: 7px 38px;
    }
  }

  @media @desktop {
    margin: 0 52px;

    &--checkbox {
      display: grid;
      grid-template-columns: repeat(3, 260px);
      gap: 47px 55px;
      max-width: 800px;
      margin: 0;
      padding: 13px 33px;
    }
  }
}

.checkers__input {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 24px 0 0;
  outline: none;
  cursor: pointer;
  appearance: none;

  &--radio {
    margin-right: 35px;

    @media @tablet-desktop {
      margin-right: 26px;
    }
  }
}

.checkers__input::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -4px;
  bottom: -3px;
  left: 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-grey);
  border-radius: 3px;
  transition: border-color 0.3s ease-in-out;
}

&:hover::before,
&:focus-visible::before {
  border-color: var(--color-lightblue);
}

&:active::before {
  border-color: var(--color-pink);
}

.checkers__input::after {
  content: "";
  position: absolute;
  background-color: var(--color-pink);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.checkers__input:checked::after {
  opacity: 1;
}

.checkers__input--checkbox::after {
  top: 10px;
  left: 9px;
  width: 22px;
  height: 16px;
  mask-image: url("../img/icons/icon-check-mark.svg");
  mask-repeat: no-repeat;
}

.checkers__input--radio::after {
  top: 11px;
  left: 13px;
  width: 22px;
  height: 18px;
  mask-image: url("../img/icons/icon-check-mark-ellipse.svg");
  mask-repeat: no-repeat;
}

.checkers__input--radio::before {
  top: -2px;
  right: -6px;
  bottom: -4px;
  left: 0;
  border-radius: 50%;
}

.checkers__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.checkers__item {
  display: flex;
  align-items: center;
  margin-top: 47px;

  @media @desktop {
    margin: 0;

    &--1 {
      order: -6;
    }

    &--2 {
      order: -3;
    }

    &--3 {
      order: -5;
    }

    &--5 {
      order: -4;
      margin-left: -20px;
    }

    &--6 {
      margin-left: -20px;
    }
  }

  &--radio {
    margin-top: 40px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.form__set-model .checkers__item + .checkers__item {
  margin-top: 40px;
}
