.content__header {
  padding: 16px 30px 44px 30px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-lightblue);
  background-image: url("../img/pictures/promo-background.jpg");
  background-size: cover;

  &--catalog {
    padding-bottom: 77px;
  }
}

.content__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.content__description {
  margin: 0;
  padding: 43px 20px 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  &--form {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  &--catalog {
    padding: 43px 20px 51px;
  }
}

.content__button {
  width: 100%;
  margin-bottom: 33px;
  background-color: var(--color-green);

  &:hover {
    background-color: var(--color-darkgreen);
  }

  &:active {
    color: var(--color-white-30);
  }
}

.content__sign {
  color: var(--color-pink);
}
