.form {
  @media @tablet-desktop {
    display: grid;
    gap: 20px;
  }

  @media @desktop {
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    gap: 58px 70px;

    .centerer();
  }
}

.form__data {
  margin: 0;
  padding: 20px 20px 42px;
  border: none;

  @media @tablet-desktop {
    margin: 0 20px;
    border: 2px solid var(--color-grey);
  }

  @media @desktop {
    margin: 0;
    padding: 20px 25px 42px 20px;
  }


  &--user {
    @media @tablet-desktop {
      order: -3;
      margin: 0;
      padding-bottom: 37px;
      border: none;
    }

    @media @desktop {
      padding: 0;
    }
  }

  &--contacts {
    @media @tablet-desktop {
      order: -1;
    }

    @media @desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 70px;
    }
  }

  &--multiline {
    @media @tablet {
      padding: 37px 58px 51px;
    }

    @media @desktop {
      grid-column: 1 / -1;
      padding: 20px 58px 44px 58px;
    }
  }
}

.form__label {
  display: block;
  margin: 0 23px 6px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--color-pink);
  text-transform: uppercase;

  @media @tablet-desktop {
    margin: 17px 19px 0 0;
  }

  &--contacts {
    margin: 0 21px 6px 21px;

    @media @tablet {
      margin: 10px 19px 0;
    }

    @media @desktop {
      margin: 9px 19px 0;
    }

    &::before {
      @media @tablet-desktop {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 61px;
        height: 63px;
        background-color: var(--color-grey);
      }
    }

    &::after {
      @media @tablet-desktop {
        content: "";
        position: absolute;
        top: 23px;
        right: 12px;
        width: 30px;
        height: 19px;
        mask-repeat: no-repeat;
        background-color: var(--color-pink);
      }
    }
  }

  &--phone::after {
    @media @tablet-desktop {
      mask-image: url("../img/sprite.svg#icon-phone");
    }
  }

  &--mail::after {
    @media @tablet-desktop {
      top: 24px;
      right: 10px;
      height: 15px;
      mask-image: url("../img/sprite.svg#icon-mail");
    }
  }
}

.form__set {
  margin: 0;
  padding: 38px 20px 45px;
  background-color: var(--color-lightgrey);
  border: none;

  @media @tablet-desktop {
    margin: 0 20px;
    background-color: inherit;
    border: 2px solid var(--color-grey);
  }

  &--radio {
    margin-bottom: 16px;

    @media @tablet-desktop {
      order: -2;
      margin-bottom: 38px;
      padding: 37px 20px 47px;
    }

    @media @desktop {
      margin: -14px 0 0;
      padding: 38px 32px 47px;
    }
  }

  &--checkers {
    padding: 38px 20px 45px;

    @media @tablet-desktop {
      margin-bottom: 36px;
    }

    @media @desktop {
      grid-column: 1 / -1;
      margin: 0;
      padding: 40px 58px 58px;
    }
  }
}

.form__title {
  float: left;
  width: 100%;
  margin: 0 0 40px;
  padding: 0;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--color-pink);
  text-transform: uppercase;

  @media @tablet-desktop {
    float: none;
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media @desktop {
    margin-bottom: 5px;
    padding: 0 37px;
  }

  &--multiline {
    margin-bottom: 17px;

    @media @desktop {
      margin-bottom: 12px;
    }
  }

  &--model {
    margin: 0 0 37px;

    @media @desktop {
      margin-bottom: 9px;
      padding: 0 23px;
    }
  }

  &--contacts {
    @media @mobile {
      .sr-only();
    }
  }

  @media @tablet {
    // float: none;
    width: auto;
    margin: 0 auto;
    padding: 0 30px;
  }
}

.form__contacts {
  padding: 31px 21px 42px;

  @media @tablet {
    margin-bottom: 38px;
    padding: 36px 58px 28px;
  }

  @media @desktop {
    grid-column: 1 / -1;
    padding: 28px 58px 13px;
  }
}

.form__footer {
  padding: 1px 20px 17px;

  @media @tablet {
    display: flex;
    padding: 46px 20px 15px;
  }

  @media @desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    padding: 6px 0 0;
  }
}
