.page-footer {
  padding: 40px 20px;
  text-align: center;
}

.page-footer__logo {
  display: table;
  width: 145px;
  min-height: 40px;
  margin: 0 68px 38px;
  background-image: url("../img/logo/logo-glasses.svg");
}

.page-footer__socials {
  margin: -9px 0 38px -9px;
}
