.page-footer {
  padding: 33px 20px;
  text-align: center;

  @media @tablet-desktop {
    display: flex;
    justify-content: space-between;
    padding: 36px 20px;
  }

  @media @desktop {
    padding: 20px 20px 73px;

    .centerer();
  }
}

.page-footer__logo {
  display: table;
  min-width: 147px;
  min-height: 40px;
  margin: 7px auto 38px;
  background-image: url("../img/logo/logo-glasses.svg");
  background-repeat: no-repeat;

  @media @tablet-desktop {
    margin: 0;
  }
}

.page-footer__socials {
  margin: -9px 0 0 -9px;
}
